.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #f71735;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

#artimage {
  border: 30px ridge #CCA43B;
  max-width: 100%;
  height: auto;
  margin: 50px;
  object-fit: contain;
  flex-wrap: wrap;
 
}


#artworkcontainer {
  border: 1px solid purple;
  max-width: 100%;
  padding: 0px 100px;
  float: none;
  overflow: clip;
  overflow-clip-margin: 120px;
  float: none;
  
}

#artworkinfodisplay {
  float: none;
  align-items: center;
}

#webcam {
  border: 30px ridge black;
  max-width: 843px;
}

img {
  border: 30px ridge red;
}